<div class="container text-center mt-4" id="home-container">
  <div class="container-fluid text-light p-5 rounded" id="jumbo">
    <div class="container p-5">
        <h1 class="display-4">Alpha Blog</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis perspiciatis sed ut qui maiores quam quod aperiam provident, ullam sequi impedit ex voluptas magnam dolorem cupiditate ipsa alias ipsum ipsam.</p>
        <a href="#" class="btn btn-primary">Sign Up!</a>
    </div>
  </div>
</div>
